<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .header{
      margin: 0px; 
      font-weight: 300; 
      font-size: 24px; 
      font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans',Verdana,Arial,sans-serif;
      display: inline;
    }
    .subHead{
      font-weight: 300; 
      font-size: 20px; 
      font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans',Verdana,Arial,sans-serif;
      text-align: center;
    }
    .gridDisplay{
      display: grid; 
      grid-template-columns: auto auto; 
      margin-top:15px; 
      padding: 10px; 
      background:#79aec8; 
      font-size:medium 
    }
    .navLink{
      float: right; 
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-align: right;
      vertical-align: middle;
      color: #fff;
      margin-right: 40px;
      margin-top: 5px;
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="row" style=" padding: 15px 15px 15px 50px; background: #417690; color: #f5dd5d ; ">
    <h1 class="header">Weather For City</h1>
    <a class="navLink" href="/"> Home</a>
  </div>    
  <br />
  <br />  

  <h1 class="subHead">Enter city name to get weather </h1><hr>
  <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
        <form>
  </center>  
  <div class="row col-md-6 col-md-offset-3" id="defaultDisplay">        
    <div id="cityDisplay" class="gridDisplay">
      <div ><strong> City: </strong></div>
      <div ><p id="cityCity">{{city}}</p></div>
      <div ><strong>Country Code: </strong></div>
      <div ><p id="country_codeCity">{{country_code}}</p></div>
      <div ><strong>Temperature: </strong></div>
      <div ><p id="tempCity">{{temp}}</p></div>
      <div ><strong>Pressure: </strong></div>
      <div ><p id="pressureCity">{{pressure}}</p></div>
      <div ><strong>Humidity: </strong></div>
      <div ><p id="humidityCity">{{humidity}}</p></div>
      <div ><strong>Main: </strong></div>
      <div ><p id="mainCity">{{main}}</p></div>
    </div>  
  </div>
</body>

</html>