<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    .header{
      margin: 0px; 
      font-weight: 300; 
      font-size: 24px; 
      font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans',Verdana,Arial,sans-serif;
      display: inline;
    }
    .subHead{
      font-weight: 300; 
      font-size: 20px; 
      font-family: 'Roboto','Lucida Grande','DejaVu Sans','Bitstream Vera Sans',Verdana,Arial,sans-serif;
      text-align: center;
    }
    .navLink{
      float: right; 
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      text-align: right;
      vertical-align: middle;
      color: #fff;
      margin-right: 40px;
      margin-top: 5px;
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="row" style=" padding: 15px 15px 15px 50px; background: #417690; color: #f5dd5d ; ">
    <h1 class="header">Weather</h1>
    <a class="navLink" href="/"> Home</a>
  </div>
    <form class="col-md-6 col-md-offset-3" id="defaultForm" class="">
      {% csrf_token %}
      <h1 class="subHead">Current Detected Co-ordinates and weather:  </h1><hr>     
      <input hidden id="latInput" type="text" name="lat" placeholder="Search">
      <input hidden id="lonInput" type="text" name="lon" placeholder="Search"> 
      <p id="locationInfo"></p>
      <div class="row" id="defaultDisplay">        
        <div style='display: grid; grid-template-columns: auto auto; margin:15px; padding: 10px; background:#79aec8; font-size:medium ;'>
          <div ><strong> City: </strong></div>
          <div ><p id="city"></p></div>
          <div ><strong>Country Code: </strong></div>
          <div ><p id="country_code"></div>
          <div ><strong>Temperature: </strong></div>
          <div ><p id="temp"></p></div>
          <div ><strong>Pressure: </strong></div>
          <div ><p id="pressure"></p></div>
          <div ><strong>Humidity: </strong></div>
          <div ><p id="humidity"></p></div>
          <div ><strong>Main: </strong></div>
          <div ><p id="main"></p></div>          
        </div>  
      </div>
    </form>

  <script>
    var x = document.getElementById("locationInfo");
  
    (function() {    
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getDefaultWeather);
        $("#defaultDisplay").show();
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
        $("#defaultDisplay").hide();
      }
    })()  
  
    function getDefaultWeather(position) {
      
      $("#latInput").val(position.coords.latitude);
      $("#lonInput").val(position.coords.longitude);
      $.ajax({
          type:"POST",
          url: "{% url 'getDefaultWeather' %}",
          data: {
            'lat': position.coords.latitude,
            'lon': position.coords.longitude,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          dataType: 'json',
          success: function (data) {
              $("#city").text(data.city);
              $("#country_code").text(data.country_code);
              $("#temp").text(data.temp);
              $("#pressure").text(data.pressure);
              $("#humidity").text(data.humidity);
              $("#main").text(data.main);
          },
          failure: function (data) {
              alert("An error occured fetching default Weather for detected co-ordinates.");
          }
        });
      x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude;
    } 
    
    </script>
</body>

</html>